html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  overflow-x: hidden;
}
header .header-menu {
  padding: 20px;
  background-color: #E5E5E5;
  display: flex;
}
header .header-menu .logo-title {
  display: flex;
}
header .header-menu .logo-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-top: 15px;
  margin-left: 12px;
}
header .header-menu .etapes-menu {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
header .header-menu .etapes-menu h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}
header .header-menu .etapes-menu .etapes-menu-list {
  display: flex;
  align-items: center;
  margin-left: 500px;
}
header .header-menu .etapes-menu .etapes-menu-list .number-list {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #E5E5E5;
  padding: 5.5px 9px;
  background-color: #EA5455;
  border-radius: 20px;
  margin-left: 43px;
}
header .header-menu .etapes-menu .etapes-menu-list .step-list {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-left: 17px;
}
header nav {
  background-color: #2D4059;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1900px;
  height: 102px;
  margin-bottom: 100px;
}
header nav .categories-btn {
  width: 127.637px;
  height: 39.066px;
  border-radius: 7px;
  border: none;
  background-color: #E5E5E5;
  color: #2D4059;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
}
header nav .categories-btn .arrow {
  margin-left: 10px;
}
header nav #searching-bar {
  width: 299px;
  height: 39px;
  border-radius: 7px;
  border: none;
}
header nav .research-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  background-color: #EA5455;
  color: #E5E5E5;
  width: 127.637px;
  height: 39.066px;
  border-radius: 7px;
  border: none;
  margin-left: 10px;
}
header nav .site-sections {
  display: flex;
  align-items: center;
}
header nav .site-sections a {
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  margin-left: 30px;
}
header nav .site-sections .arrow-down {
  margin-left: 13px;
  margin-right: 57px;
  color: #fff;
}
header nav .site-sections .fa-cart-arrow-down {
  color: #fff;
  font-size: 28px;
}
header nav .site-sections .fa-circle {
  color: #fff;
  font-size: 17px;
  margin-left: 7px;
}

@media screen and (max-width: 490px) {
  header {
    overflow-x: hidden;
  }
  header .header-menu {
    width: 428px;
    height: 50px;
  }
  header .header-menu img {
    width: 50.865px;
    height: 59px;
  }
  header .header-menu h1 {
    display: none;
  }
  header .header-menu .etapes-menu {
    width: 311px;
  }
  header .header-menu .etapes-menu h2 {
    text-align: end;
    font-size: 16px;
    margin: 5px 28px 0 30px;
  }
  header .header-menu .etapes-menu-list .number-list {
    display: none;
  }
  header .header-menu .etapes-menu-list .step-list {
    display: none;
  }
  header nav {
    width: 433.215px;
    height: 182.941px;
  }
  header nav .categories-btn {
    display: none;
  }
  header nav .research {
    display: none;
  }
  header nav .site-sections {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 50px;
    align-items: baseline;
  }
  header nav .site-sections .connexion {
    display: flex;
  }
  header nav .site-sections .shopping-cart {
    margin-right: 35px;
    text-align: end;
  }
  header nav .site-sections a {
    font-weight: 500;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.display-body {
  margin-top: 170px;
}

.titre-body {
  color: #EA5455;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 47px;
}

#titre-display {
  margin-left: 108px;
}

.bestsells-body {
  display: flex;
  gap: 21px;
  align-items: center;
}

.bouton-body {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  cursor: pointer;
}

#gauche {
  margin-right: 48px;
}

#droite {
  margin-left: 48px;
}

.produit-body {
  width: 260px;
  height: 260px;
  border-radius: 6px;
  box-shadow: 0 0 9px 0;
}

#smart-produit-body {
  display: none;
}

.produit-body img {
  padding: 20px 20px 0px 20px;
}

.produit-body h2 {
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
}

.spe-body {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  margin-top: 6px;
}

.stock-body {
  color: #42CC58;
  padding-right: 20px;
}

.categorie-body {
  margin-top: 170px;
}

.titre-categorie-body {
  display: flex;
  align-items: baseline;
}

.titre-categorie-body a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.liste-categorie-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.liste-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.categorie-categorie-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  border-radius: 25px;
  background: #2D4059;
}

.categorie-categorie-body a {
  text-decoration: none;
  margin-top: 16px;
  color: #e5e5e5;
  font-weight: 700;
}

.choix-body {
  margin-top: 170px;
}

.liste-body #choix {
  gap: 44px;
}

.liste-choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.liste-choix a {
  text-decoration: none;
  color: #EA5455;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 760px) {
  .produit-body {
    display: none;
  }
  #smart-produit-body {
    display: block;
    height: 320px;
    width: 320px;
  }
  .titre-categorie-body {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .titre-categorie-body a {
    text-decoration: none;
    color: #2D4059;
    font-weight: 700;
    font-size: 30px;
  }
  .liste-categorie-body {
    display: flex;
    flex-direction: row;
  }
  .liste-body {
    display: flex;
    flex-direction: column;
  }
  #categorie-desktop {
    display: none;
  }
}
body, html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.footer {
  font-size: 0.9em;
  background-color: #2D4059;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}

.footer-item {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.footer-item:last-child {
  margin-right: 0;
}
.footer-item img {
  width: 50px;
  margin-right: 10px;
}
.footer-item .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer-item .title {
  font-weight: bold;
  margin: 0 0 5px 0;
}
.footer-item p {
  margin: 0;
}

.footer-nav {
  background-color: #cccccc;
  padding: 10px 0;
}
.footer-nav .nav-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 150px;
}
@media (max-width: 600px) {
  .footer-nav .nav-col {
    margin: 0;
    width: 50%;
  }
}
.footer-nav a {
  color: #2D4059;
  margin-bottom: 30px;
  text-decoration: none;
}
@media (max-width: 600px) {
  .footer-nav a {
    margin-bottom: 0;
    padding: 8px;
  }
}

.footer-legal {
  background-color: #2D4059;
  color: #E5E5E5;
  padding: 10px 0;
  text-align: center;
}
.footer-legal p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
