.header-menu{
    padding: 20px;
    background-color: #E5E5E5;
    display: flex;

    .logo-title{
        display: flex;

        h1{
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            margin-top: 15px;
            margin-left: 12px;
        }
    }
    .etapes-menu{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        h2{
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .etapes-menu-list{
            display: flex;
            align-items: center;
            margin-left: 500px;
            .number-list{
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 700;
                color: #E5E5E5;
                padding: 6px 10px;
                background-color: #EA5455;
                border-radius: 20px;
                margin-left: 43px;
            }
            .step-list{
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 500;
                margin-left: 17px;
            }
        }
    }
}

nav{
    background-color: #2D4059;
    .categories-btn{
        width: 127.637px;
        height: 39.066px;
        border-radius: 7px;
        border: none;
        background-color: #E5E5E5;
        color: #2D4059;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
    }
    #searching-bar{
        width: 299px;
        height: 39px;
        border-radius: 7px;
        border: none;
    }
    .research-btn{
        background-color: #EA5455;
        color: #E5E5E5;
        width: 127.637px;
        height: 39.066px;
        border-radius: 7px;
        border: none;
    }
}