
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .footer {
    font-size: 0.9em;
  }
  
  .footer-container, .footer-nav, .footer-legal {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-container {
    background-color: #2D4059; /* Bleu plus foncé pour la partie supérieure et inférieure */
    color: white;
    padding: 20px;
  }
  
  .footer-item {
    text-align: center;
  }
  
  .footer-item img {
    width: 50px; /* Ajuster la taille selon l'image */
    margin-bottom: 10px;
  }
  
  .footer-nav {
    background-color: #cccccc; /* Gris pour la ligne du milieu */
    padding: 10px 0;
    display: flex;
  }
  
  .nav-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 150px; /* Espacement pour créer des colonnes de 300px de large */
  }
  
  .footer-nav a {
    color: #2D4059; /* Couleur des textes pour la partie grise mise à jour pour correspondre au bleu des autres sections */
    margin-bottom: 30px; /* Augmentation de l'espacement entre les liens */
    text-decoration: none;
  }
  
  .footer-legal {
    background-color: #2D4059; /* Bleu plus foncé pour la partie inférieure */
    color: #E5E5E5;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-legal p {
    margin: 0;
  }
  
  @media (max-width: 600px) {
    .footer-container, .footer-nav, .footer-legal {
      flex-direction: column;
    }
  
    .footer-nav {
      flex-direction: row;
      padding: 20px;
    }
  
    .nav-col {
      margin: 0; /* Ajustement pour les petits écrans */
      width: 50%; /* Chaque colonne prend la moitié de la largeur sur petits écrans */
    }
  
    .footer-nav a {
      margin-bottom: 0;
      padding: 8px;
    }
  }
  